# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [2]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
df3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

In [3]:
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df2

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

In [5]:
df3

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [6]:
df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [7]:
df2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [8]:
df3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [10]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df2.columns = df2.columns.str.lower().str.replace(' ', '_')
df3.columns = df3.columns.str.lower().str.replace(' ', '_')

df = df.rename(columns={'st': 'state'})
df2 = df2.rename(columns={'st': 'state'})

print(df.columns)
print(df2.columns)
print(df3.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')
Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')
Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [11]:
# Create sets of columns for each DataFrame
cols_df1 = set(df.columns)
cols_df2 = set(df2.columns)
cols_df3 = set(df3.columns)

# Check if all are equal
if cols_df1 == cols_df2 == cols_df3:
    print("The three DataFrames have the same columns.")
else:
    print("The DataFrames have different columns.")

# Optional: Show the differences
print("Columns in df1 but not in df2:", cols_df1 - cols_df2)
print("Columns in df2 but not in df1:", cols_df2 - cols_df1)
print("Columns in df3 but not in df1:", cols_df3 - cols_df1)

The three DataFrames have the same columns.
Columns in df1 but not in df2: set()
Columns in df2 but not in df1: set()
Columns in df3 but not in df1: set()

In [13]:
customers_df = set(df["customer"])
customers_df2 = set(df2["customer"])
customers_df3 = set(df3["customer"])

print("Clientes en df y df2:", len(customers_df & customers_df2))
print("Clientes en df y df3:", len(customers_df & customers_df3))
print("Clientes en df2 y df3:", len(customers_df2 & customers_df3))
print("Clientes en todos los DataFrames:", len(customers_df & customers_df2 & customers_df3))

Clientes en df y df2: 3
Clientes en df y df3: 36
Clientes en df2 y df3: 42
Clientes en todos los DataFrames: 0

In [17]:
df_combined = pd.concat([df, df2, df3], ignore_index=True)

In [18]:
df_combined

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [21]:
df_combined = df_combined.dropna(subset=['customer'])

In [22]:
duplicates = df_combined[df_combined.duplicated(subset='customer')]

print(duplicates)

     customer       state gender             education  \
4008  GS98873     Arizona      F              Bachelor
4009  CW49887  California      F                Master
4010  MY31220  California      F               College
5020  QZ77637  Washington      F               College
5023  AX86150  Washington      M  High School or Below
...       ...         ...    ...                   ...
6740  FX36546  Washington      M                Master
6810  WQ89892  Washington      F               College
6874  GA49547  Washington      M  High School or Below
6887  PQ27923  Washington      M                Master
6928  OW15518  Washington      F               College

     customer_lifetime_value   income  monthly_premium_auto  \
4008              323912.47%  16061.0                  88.0
4009              462680.11%  79487.0                 114.0
4010              899704.02%  54230.0                 112.0
5020             11665.09779  84978.0                  72.0
5023             2656.713092  62777.0                  67.0
...                      ...      ...                   ...
6740             3679.142115  60804.0                  92.0
6810              2607.81554      0.0                  70.0
6874             5363.076547  36357.0                  68.0
6887             6333.030812  71737.0                  79.0
6928             15950.01951      0.0                  87.0

     number_of_open_complaints     policy_type  vehicle_class  \
4008                    1/0/00   Personal Auto  Four-Door Car
4009                    1/0/00    Special Auto            SUV
4010                    1/0/00   Personal Auto   Two-Door Car
5020                         1  Corporate Auto  Four-Door Car
5023                         0   Personal Auto   Two-Door Car
...                        ...             ...            ...
6740                         0   Personal Auto  Four-Door Car
6810                         1    Special Auto   Two-Door Car
6874                         0   Personal Auto  Four-Door Car
6887                         0   Personal Auto   Two-Door Car
6928                         1   Personal Auto   Two-Door Car

      total_claim_amount
4008          633.600000
4009          547.200000
4010          537.600000
5020          166.772960
5023          101.288069
...                  ...
6740          213.225001
6810          336.000000
6874           17.269323
6887          338.795620
6928           46.041452

[81 rows x 11 columns]

In [25]:
df_combined = df_combined.drop_duplicates(keep='first')

In [26]:
df_combined[df_combined.duplicated(subset='customer')]

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
5020,QZ77637,Washington,F,College,11665.09779,84978.0,72.0,1,Corporate Auto,Four-Door Car,166.772960
5023,AX86150,Washington,M,High School or Below,2656.713092,62777.0,67.0,0,Personal Auto,Two-Door Car,101.288069
5081,YP47665,Washington,M,Doctor,5408.911507,80192.0,67.0,0,Personal Auto,Four-Door Car,95.193157
5095,BH86846,Washington,M,High School or Below,20708.25881,92079.0,65.0,1,Corporate Auto,Four-Door Car,114.798771
5118,ST27958,Washington,M,College,4386.277558,10621.0,67.0,0,Personal Auto,Four-Door Car,321.600000
...,...,...,...,...,...,...,...,...,...,...,...
6740,FX36546,Washington,M,Master,3679.142115,60804.0,92.0,0,Personal Auto,Four-Door Car,213.225001
6810,WQ89892,Washington,F,College,2607.81554,0.0,70.0,1,Special Auto,Two-Door Car,336.000000
6874,GA49547,Washington,M,High School or Below,5363.076547,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
6887,PQ27923,Washington,M,Master,6333.030812,71737.0,79.0,0,Personal Auto,Two-Door Car,338.795620
6928,OW15518,Washington,F,College,15950.01951,0.0,87.0,1,Personal Auto,Two-Door Car,46.041452

In [33]:
df_combined[df_combined['customer'] == 'AC40767']

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
741,AC40767,Washington,M,Bachelors,249780.82%,68041.0,6464.0,1/0/00,Personal Auto,Two-Door Car,165.570243
5825,AC40767,Washington,M,Bachelor,2497.808174,68041.0,64.0,0,Personal Auto,Two-Door Car,165.570243

In [40]:
pd.set_option('display.max_rows', None)  # Exibe todas as linhas

df_duplicates = df_combined[df_combined.duplicated(subset='customer', keep=False)]

df_duplicates_sorted = df_duplicates.sort_values(by='customer')

df_duplicates_sorted

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
741,AC40767,Washington,M,Bachelors,2497.808200,68041.0,6464.0,1/0/00,Personal Auto,Two-Door Car,165.570243
5825,AC40767,Washington,M,Bachelor,2497.808174,68041.0,64.0,0,Personal Auto,Two-Door Car,165.570243
6529,AI49712,Washington,F,High School or Below,2593.897887,0.0,72.0,0,Personal Auto,Four-Door Car,345.600000
4643,AI49712,Washington,F,High School or Below,2593.897900,0.0,72.0,1/0/00,Personal Auto,Four-Door Car,345.600000
416,AX86150,Washington,M,High School or Below,2656.713100,62777.0,67.0,1/0/00,Personal Auto,Two-Door Car,101.288069
5023,AX86150,Washington,M,High School or Below,2656.713092,62777.0,67.0,0,Personal Auto,Two-Door Car,101.288069
884,AY18433,Washington,F,High School or Below,27382.818900,45473.0,76.0,1/0/00,Special Auto,Two-Door Car,188.938397
5379,AY18433,Washington,F,High School or Below,27382.818930,45473.0,76.0,0,Special Auto,Two-Door Car,188.938397
4310,BE61743,Washington,M,Bachelor,4109.793600,86657.0,103.0,1/0/00,Personal Auto,Sports Car,316.227946
6337,BE61743,Washington,M,Bachelor,4109.793608,86657.0,103.0,0,Personal Auto,Sports Car,316.227946
5600,BH35482,Washington,M,Doctor,4930.949334,70412.0,61.0,0,Corporate Auto,Two-Door Car,136.291083
594,BH35482,Washington,M,Doctor,4930.949300,70412.0,61.0,1/0/00,Corporate Auto,Two-Door Car,136.291083
5095,BH86846,Washington,M,High School or Below,20708.258810,92079.0,65.0,1,Corporate Auto,Four-Door Car,114.798771
440,BH86846,Washington,M,High School or Below,20708.258800,92079.0,65.0,1/1/00,Corporate Auto,Four-Door Car,114.798771
4124,BJ22117,Washington,M,Master,5133.414800,53390.0,6464.0,1/0/00,Personal Auto,Four-Door Car,278.999409
5612,BJ22117,Washington,M,Master,5133.414764,53390.0,64.0,0,Personal Auto,Four-Door Car,278.999409
178,BN90616,Washington,F,Bachelor,8590.335000,63110.0,72.0,1/0/00,Personal Auto,Four-Door Car,68.179721
6485,BN90616,Washington,F,Bachelor,8590.334983,63110.0,72.0,0,Personal Auto,Four-Door Car,68.179721
546,BW80872,Washington,M,High School or Below,4434.411200,34549.0,111.0,1/0/00,Personal Auto,Four-Door Car,125.933005
6314,BW80872,Washington,M,High School or Below,4434.411172,34549.0,111.0,0,Personal Auto,Four-Door Car,125.933005
4983,BW94308,Washington,F,High School or Below,20096.893400,92766.0,71.0,1/0/00,Personal Auto,Two-Door Car,379.029102
6027,BW94308,Washington,F,High School or Below,20096.893370,92766.0,71.0,0,Personal Auto,Two-Door Car,379.029102
354,CI38330,Washington,M,Bachelor,2549.786100,72217.0,6464.0,1/0/00,Personal Auto,Four-Door Car,91.146661
6470,CI38330,Washington,M,Bachelor,2549.786069,72217.0,64.0,0,Personal Auto,Four-Door Car,91.146661
6003,CR33417,Washington,F,Master,4762.156975,36529.0,118.0,0,Personal Auto,SUV,255.005116
4028,CR33417,Washington,F,Master,4762.157000,36529.0,118.0,1/0/00,Personal Auto,SUV,255.005116
5910,DP92488,Washington,F,Doctor,2727.520769,74592.0,67.0,0,Personal Auto,Two-Door Car,321.600000
4381,DP92488,Washington,F,Doctor,2727.520800,74592.0,67.0,1/0/00,Personal Auto,Two-Door Car,321.600000
5181,EE99484,Washington,F,High School or Below,2514.591960,43860.0,65.0,0,Corporate Auto,Four-Door Car,156.124914
661,EE99484,Washington,F,High School or Below,2514.592000,43860.0,65.0,1/0/00,Corporate Auto,Four-Door Car,156.124914
4436,EM85557,Washington,F,College,8021.067100,54292.0,67.0,1/0/00,Personal Auto,Four-Door Car,321.600000
5709,EM85557,Washington,F,College,8021.067105,54292.0,67.0,0,Personal Auto,Four-Door Car,321.600000
120,FM14335,Washington,F,College,10484.915400,61108.0,89.0,1/0/00,Personal Auto,Four-Door Car,49.451117
6358,FM14335,Washington,F,College,10484.915350,61108.0,89.0,0,Personal Auto,Four-Door Car,49.451117
6740,FX36546,Washington,M,Master,3679.142115,60804.0,92.0,0,Personal Auto,Four-Door Car,213.225001
933,FX36546,Washington,M,Master,3679.142100,60804.0,92.0,1/0/00,Personal Auto,Four-Door Car,213.225001
6874,GA49547,Washington,M,High School or Below,5363.076547,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
4,GA49547,Washington,M,High School or Below,5363.076500,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
4260,GK48045,Washington,F,College,8214.602400,73245.0,68.0,1/0/00,Personal Auto,Four-Door Car,305.121363
5433,GK48045,Washington,F,College,8214.602384,73245.0,68.0,0,Personal Auto,Four-Door Car,305.121363
4408,GK67747,Washington,M,College,4386.277600,10621.0,67.0,1/0/00,Special Auto,Four-Door Car,321.600000
6050,GK67747,Washington,M,College,4386.277558,10621.0,67.0,0,Special Auto,Four-Door Car,321.600000
6673,GP39118,Washington,M,High School or Below,4996.552721,71600.0,63.0,0,Personal Auto,Two-Door Car,46.158117
111,GP39118,Washington,M,High School or Below,4996.552700,71600.0,63.0,1/0/00,Personal Auto,Two-Door Car,46.158117
6190,GX84338,Washington,F,Doctor,3824.431298,62530.0,95.0,0,Personal Auto,Four-Door Car,61.693771
176,GX84338,Washington,F,Doctor,3824.431300,62530.0,95.0,1/0/00,Personal Auto,Four-Door Car,61.693771
5854,HL33607,Washington,M,College,8717.049833,83846.0,74.0,3,Personal Auto,Four-Door Car,355.200000
4884,HL33607,Washington,M,College,8717.049800,83846.0,74.0,1/3/00,Personal Auto,Four-Door Car,355.200000
731,HQ70429,Washington,F,College,16045.109500,0.0,65.0,1/0/00,Personal Auto,Two-Door Car,163.046956
5678,HQ70429,Washington,F,College,16045.109520,0.0,65.0,0,Personal Auto,Two-Door Car,163.046956
5979,HS14476,Washington,M,College,9162.063169,29723.0,80.0,0,Personal Auto,Four-Door Car,20.985105
27,HS14476,Washington,M,College,9162.063200,29723.0,80.0,1/0/00,Personal Auto,Four-Door Car,20.985105
436,HX74855,Washington,M,High School or Below,2471.528400,95697.0,61.0,1/0/00,Personal Auto,Two-Door Car,114.273025
5332,HX74855,Washington,M,High School or Below,2471.528431,95697.0,61.0,0,Personal Auto,Two-Door Car,114.273025
6140,HX77930,Washington,F,College,3136.432103,49532.0,79.0,1,Personal Auto,Four-Door Car,220.186677
957,HX77930,Washington,F,College,3136.432100,49532.0,79.0,1/1/00,Personal Auto,Four-Door Car,220.186677
5891,HZ25580,Washington,F,High School or Below,2396.192355,39062.0,61.0,0,Corporate Auto,Two-Door Car,346.991025
4764,HZ25580,Washington,F,High School or Below,2396.192400,39062.0,61.0,1/0/00,Corporate Auto,Two-Door Car,346.991025
5304,IP69763,Washington,F,College,21914.405480,77311.0,181.0,0,Personal Auto,SUV,113.609508
434,IP69763,Washington,F,College,21914.405500,77311.0,181.0,1/0/00,Personal Auto,SUV,113.609508
5539,JC80093,Washington,M,Master,2572.506605,21104.0,66.0,0,Personal Auto,Four-Door Car,118.454974
481,JC80093,Washington,M,Master,2572.506600,21104.0,66.0,1/0/00,Personal Auto,Four-Door Car,118.454974
5454,JO17193,Washington,M,Bachelor,2300.691547,25905.0,63.0,0,Personal Auto,Four-Door Car,302.400000
4219,JO17193,Washington,M,Bachelors,2300.691500,25905.0,63.0,1/0/00,Personal Auto,Four-Door Car,302.400000
5215,KN13494,Washington,F,Master,5181.620895,97131.0,64.0,0,Personal Auto,Four-Door Car,307.200000
4283,KN13494,Washington,F,Master,5181.620900,97131.0,6464.0,1/0/00,Personal Auto,Four-Door Car,307.200000
4914,KR25511,Washington,M,High School or Below,6005.214800,26876.0,76.0,1/0/00,Corporate Auto,Four-Door Car,364.800000
6437,KR25511,Washington,M,High School or Below,6005.214792,26876.0,76.0,0,Corporate Auto,Four-Door Car,364.800000
5355,LR10110,Washington,F,Bachelor,5504.139033,0.0,73.0,0,Corporate Auto,Four-Door Car,350.400000
4823,LR10110,Washington,F,Bachelors,5504.139000,0.0,73.0,1/0/00,Corporate Auto,Four-Door Car,350.400000
6426,LY14355,Washington,F,High School or Below,2935.988346,73847.0,73.0,1,Personal Auto,Two-Door Car,350.400000
4796,LY14355,Washington,F,High School or Below,2935.988300,73847.0,73.0,1/1/00,Personal Auto,Two-Door Car,350.400000
5220,MK73855,Washington,F,High School or Below,8109.364607,32314.0,68.0,0,Personal Auto,Four-Door Car,326.400000
4448,MK73855,Washington,F,High School or Below,8109.364600,32314.0,68.0,1/0/00,Personal Auto,Four-Door Car,326.400000
4099,MM49431,Washington,M,Bachelor,7298.583600,74069.0,63.0,1/2/00,Personal Auto,Two-Door Car,275.516438
6195,MM49431,Washington,M,Bachelor,7298.583562,74069.0,63.0,2,Personal Auto,Two-Door Car,275.516438
4616,MP96373,Washington,M,Master,5719.785700,54585.0,7575.0,1/1/00,Personal Auto,Two-Door Car,340.800000
5344,MP96373,Washington,M,Master,5719.785738,54585.0,71.0,1,Personal Auto,Two-Door Car,340.800000
430,MT41386,Washington,M,Bachelors,2875.432400,84768.0,72.0,1/0/00,Personal Auto,Two-Door Car,110.484661
6035,MT41386,Washington,M,Bachelor,2875.432390,84768.0,72.0,0,Personal Auto,Two-Door Car,110.484661
6491,MW80236,Washington,M,Master,7919.832069,0.0,70.0,0,Personal Auto,Four-Door Car,336.000000
4588,MW80236,Washington,M,Master,NaN,0.0,70.0,1/0/00,Personal Auto,Four-Door Car,336.000000
6117,NJ10602,Washington,F,College,8459.053233,92717.0,70.0,0,Personal Auto,Two-Door Car,224.275820
969,NJ10602,Washington,F,College,8459.053200,92717.0,70.0,1/0/00,Personal Auto,Two-Door Car,224.275820
4670,NJ15094,Washington,F,Bachelors,5345.994600,0.0,72.0,1/0/00,Personal Auto,Four-Door Car,345.600000
5133,NJ15094,Washington,F,Bachelor,5345.994644,0.0,72.0,0,Personal Auto,Four-Door Car,345.600000
6041,NW21079,Washington,F,Master,4879.384813,67163.0,61.0,2,Personal Auto,Two-Door Car,33.192803
53,NW21079,Washington,F,Master,4879.384800,67163.0,61.0,1/2/00,Personal Auto,Two-Door Car,33.192803
6073,OB98149,Washington,F,College,4700.007467,11417.0,63.0,0,Personal Auto,Two-Door Car,302.400000
4227,OB98149,Washington,F,College,4700.007500,11417.0,63.0,1/0/00,Personal Auto,Two-Door Car,302.400000
5694,OT85112,Washington,M,College,3403.919366,38460.0,88.0,1,Personal Auto,Four-Door Car,91.550980
382,OT85112,Washington,M,College,3403.919400,38460.0,88.0,1/1/00,Personal Auto,Four-Door Car,91.550980
91,OW15518,Washington,F,College,15950.019500,0.0,87.0,1/1/00,Personal Auto,Two-Door Car,46.041452
6928,OW15518,Washington,F,College,15950.019510,0.0,87.0,1,Personal Auto,Two-Door Car,46.041452
6322,PA38372,Washington,F,High School or Below,9357.737821,33060.0,117.0,0,Personal Auto,Four-Door Car,56.731578
150,PA38372,Washington,F,High School or Below,9357.737800,33060.0,117.0,1/0/00,Personal Auto,Four-Door Car,56.731578
915,PE39479,Washington,M,College,18321.419000,88592.0,76.0,1/0/00,Corporate Auto,Four-Door Car,199.797270
6438,PE39479,Washington,M,College,18321.419030,88592.0,76.0,0,Corporate Auto,Four-Door Car,199.797270
4026,PE59368,Washington,F,Bachelors,5123.485000,72096.0,6464.0,1/0/00,Personal Auto,Two-Door Car,252.330905
5163,PE59368,Washington,F,Bachelor,5123.484988,72096.0,64.0,0,Personal Auto,Two-Door Car,252.330905
4020,PH85036,Washington,F,Bachelors,5482.549400,79325.0,68.0,1/0/00,Corporate Auto,Four-Door Car,251.294821
5580,PH85036,Washington,F,Bachelor,5482.549359,79325.0,68.0,0,Corporate Auto,Four-Door Car,251.294821
4600,PQ27923,Washington,M,Master,6333.030800,71737.0,79.0,1/0/00,Personal Auto,Two-Door Car,338.795620
6887,PQ27923,Washington,M,Master,6333.030812,71737.0,79.0,0,Personal Auto,Two-Door Car,338.795620
6420,PY42157,Washington,F,High School or Below,2472.253893,62006.0,61.0,0,Personal Auto,Four-Door Car,292.800000
4176,PY42157,Washington,F,High School or Below,2472.253900,62006.0,61.0,1/0/00,Personal Auto,Four-Door Car,292.800000
4323,QA49556,Washington,M,Master,5200.227800,23401.0,66.0,1/0/00,Personal Auto,Four-Door Car,316.800000
6578,QA49556,Washington,M,Master,5200.227770,23401.0,66.0,0,Personal Auto,Four-Door Car,316.800000
6527,QD28391,Washington,M,College,7425.845305,84302.0,62.0,0,Personal Auto,Four-Door Car,76.609295
305,QD28391,Washington,M,College,7425.845300,84302.0,62.0,1/0/00,Personal Auto,Four-Door Car,76.609295
6119,QK69627,Washington,F,High School or Below,9388.162927,75264.0,78.0,0,Personal Auto,Four-Door Car,343.340301
4625,QK69627,Washington,F,High School or Below,9388.162900,75264.0,78.0,1/0/00,Personal Auto,Four-Door Car,343.340301
5020,QZ77637,Washington,F,College,11665.097790,84978.0,72.0,1,Corporate Auto,Four-Door Car,166.772960
856,QZ77637,Washington,F,College,11665.097800,84978.0,35353.0,1/1/00,Corporate Auto,Four-Door Car,166.772960
4333,RI52095,Washington,M,High School or Below,NaN,51878.0,66.0,1/1/00,Personal Auto,Four-Door Car,316.800000
6475,RI52095,Washington,M,High School or Below,7610.540153,51878.0,66.0,1,Personal Auto,Four-Door Car,316.800000
6144,RM83767,Washington,M,College,5970.995737,64008.0,85.0,5,Personal Auto,Four-Door Car,372.893812
4980,RM83767,Washington,M,College,5970.995700,64008.0,85.0,1/5/00,Personal Auto,Four-Door Car,372.893812
5378,RO18530,Washington,M,Master,2540.689797,42557.0,65.0,0,Personal Auto,Four-Door Car,57.562324
151,RO18530,Washington,M,Master,2540.689800,42557.0,65.0,1/0/00,Personal Auto,Four-Door Car,57.562324
4908,SA40041,Washington,F,Bachelor,5749.883800,22814.0,73.0,1/0/00,Personal Auto,Four-Door Car,360.773462
6637,SA40041,Washington,F,Bachelor,5749.883799,22814.0,73.0,0,Personal Auto,Four-Door Car,360.773462
5207,SA54664,Washington,M,Master,2654.380994,73196.0,66.0,1,Personal Auto,Four-Door Car,85.809817
353,SA54664,Washington,M,Master,2654.381000,73196.0,66.0,1/1/00,Personal Auto,Four-Door Car,85.809817
6539,SP81997,Washington,F,Master,7752.933281,41275.0,96.0,0,Personal Auto,Four-Door Car,41.122303
78,SP81997,Washington,F,Master,NaN,41275.0,96.0,1/0/00,Personal Auto,Four-Door Car,41.122303
4401,ST27958,Washington,M,College,4386.277600,10621.0,67.0,1/0/00,Personal Auto,Four-Door Car,321.600000
5118,ST27958,Washington,M,College,4386.277558,10621.0,67.0,0,Personal Auto,Four-Door Car,321.600000
5137,TI19722,Washington,M,Doctor,3436.134281,30817.0,88.0,0,Corporate Auto,Four-Door Car,91.834668
384,TI19722,Washington,M,Doctor,3436.134300,30817.0,88.0,1/0/00,Corporate Auto,Four-Door Car,91.834668
6648,TL18087,Washington,M,Bachelor,3059.282091,65083.0,77.0,0,Personal Auto,Four-Door Car,369.600000
4943,TL18087,Washington,M,Bachelor,3059.282100,65083.0,77.0,1/0/00,Personal Auto,Four-Door Car,369.600000
4149,TM13955,Washington,M,Master,2993.024600,0.0,80.0,1/0/00,Corporate Auto,Four-Door Car,286.115778
5564,TM13955,Washington,M,Master,2993.024583,0.0,80.0,0,Corporate Auto,Four-Door Car,286.115778
6002,TO60700,Washington,F,Bachelor,7813.411572,25859.0,74.0,0,Special Auto,Four-Door Car,355.200000
4869,TO60700,Washington,F,Bachelors,NaN,25859.0,74.0,1/0/00,Special Auto,Four-Door Car,355.200000
897,UA50747,Washington,F,High School or Below,25997.750000,62262.0,72.0,1/0/00,Corporate Auto,Four-Door Car,193.505325
6178,UA50747,Washington,F,High School or Below,25997.749960,62262.0,72.0,0,Corporate Auto,Four-Door Car,193.505325
4114,UE76013,Washington,F,Master,5039.869300,35984.0,128.0,1/3/00,Personal Auto,SUV,275.577631
5248,UE76013,Washington,F,Master,5039.869278,35984.0,128.0,3,Personal Auto,SUV,275.577631
4329,UF32671,Washington,F,College,5291.395300,57338.0,66.0,1/0/00,Personal Auto,Four-Door Car,316.800000
5391,UF32671,Washington,F,College,5291.395332,57338.0,66.0,0,Personal Auto,Four-Door Car,316.800000
5601,VU84949,Washington,F,Bachelor,5292.632491,0.0,70.0,0,Personal Auto,Two-Door Car,336.000000
4580,VU84949,Washington,F,Bachelors,5292.632500,0.0,70.0,1/0/00,Personal Auto,Two-Door Car,336.000000
4560,WQ89892,Washington,F,College,2607.815500,0.0,70.0,1/1/00,Special Auto,Two-Door Car,336.000000
6810,WQ89892,Washington,F,College,2607.815540,0.0,70.0,1,Special Auto,Two-Door Car,336.000000
6702,WX87964,Washington,M,High School or Below,4935.189986,29560.0,62.0,0,Personal Auto,Four-Door Car,297.600000
4213,WX87964,Washington,M,High School or Below,4935.190000,29560.0,62.0,1/0/00,Personal Auto,Four-Door Car,297.600000
4259,XY33610,Washington,M,College,15695.539400,97750.0,65.0,1/0/00,Personal Auto,Four-Door Car,303.002922
6658,XY33610,Washington,M,College,15695.539410,97750.0,65.0,0,Personal Auto,Four-Door Car,303.002922
6708,XZ34917,Washington,M,Bachelor,5643.802354,41043.0,72.0,0,Personal Auto,Four-Door Car,345.600000
4745,XZ34917,Washington,M,Bachelor,5643.802400,41043.0,72.0,1/0/00,Personal Auto,Four-Door Car,345.600000
6269,YB66933,Washington,F,Bachelor,5382.752045,77552.0,68.0,1,Corporate Auto,Four-Door Car,45.215059
85,YB66933,Washington,F,Bachelor,5382.752000,77552.0,68.0,1/1/00,Corporate Auto,Four-Door Car,45.215059
400,YP47665,Washington,M,Doctor,5408.911500,80192.0,67.0,1/0/00,Personal Auto,Four-Door Car,95.193157
5081,YP47665,Washington,M,Doctor,5408.911507,80192.0,67.0,0,Personal Auto,Four-Door Car,95.193157

In [41]:
df_combined = df_combined.drop([856, 4026, 4616, 4283, 354, 4124, 741])

In [37]:
def normalize_clv(clv):
    if isinstance(clv, str): 
        if '%' in clv:  
            clv = clv.replace('%', '')  
            return float(clv) / 100  
        else:
            return float(clv)  
    else:
        return clv  

df_combined['customer_lifetime_value'] = df_combined['customer_lifetime_value'].apply(normalize_clv)

print(df_combined['customer_lifetime_value'].head())

0           NaN
1     6979.5359
2    12887.4317
3     7645.8618
4     5363.0765
Name: customer_lifetime_value, dtype: float64

In [42]:
df_combined = df_combined.drop_duplicates(subset='customer', keep='first')

In [43]:
df_combined[df_combined.duplicated(subset='customer')]

Empty DataFrame
Columns: [customer, state, gender, education, customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

In [44]:
df_combined['gender'].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [45]:
df_combined['gender'] = df_combined['gender'].replace({
    'Male': 'M',
    'female': 'F',
    'Femal': 'F'
})

In [46]:
df_combined['state'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA'], dtype=object)

In [47]:
df_combined['state'] = df_combined['state'].replace({"AZ": "Arizona", "Cali": "California", "WA": "Washington"})

In [48]:
df_combined['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor'], dtype=object)

In [49]:
df_combined['education'] = df_combined['education'].replace({'Bachelors': 'Bachelor'})

In [50]:
df_combined['vehicle_class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car'], dtype=object)

In [51]:
df_combined['vehicle_class'] = df_combined['vehicle_class'].replace(['Sports Car', 'Luxury SUV', 'Luxury Car'], 'Luxury')

In [52]:
df_combined.number_of_open_complaints.unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', 0, 2,
       3, 1, 5, 4], dtype=object)

In [53]:
df_combined['number_of_open_complaints'] = df_combined['number_of_open_complaints'].str.split('/').str[1].astype(float)

In [54]:
df_combined['number_of_open_complaints'] = df_combined['number_of_open_complaints'].astype('Int64')

In [55]:
df_combined.number_of_open_complaints.unique()

<IntegerArray>
[0, 2, 1, 3, 5, 4, <NA>]
Length: 7, dtype: Int64

In [56]:
df_combined.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints      Int64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [57]:
df_combined.isnull().sum()

customer                        0
state                           0
gender                        122
education                       0
customer_lifetime_value         7
income                          0
monthly_premium_auto            0
number_of_open_complaints    6999
policy_type                     0
vehicle_class                   0
total_claim_amount              0
dtype: int64

In [60]:
mean_clv = df_combined['customer_lifetime_value'].mean()

df_combined['customer_lifetime_value'] = df_combined['customer_lifetime_value'].fillna(mean_clv)

df_combined.isnull().sum()

customer                        0
state                           0
gender                          0
education                       0
customer_lifetime_value         0
income                          0
monthly_premium_auto            0
number_of_open_complaints    6999
policy_type                     0
vehicle_class                   0
total_claim_amount              0
dtype: int64

In [61]:
df_combined['gender'] = df_combined['gender'].fillna('Unknown')
df_combined['number_of_open_complaints'] = df_combined['customer_lifetime_value'].fillna(0)

df_combined.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [63]:
df_combined.duplicated().sum()

0

In [64]:
df_combined = df_combined.reset_index()

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [66]:
mkt = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')

In [70]:
pd.set_option('display.max_columns', None)  # Exibe todas as colunas

In [71]:
mkt.tail()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,Suburban,Married,253,15.149071,40,0.384256,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,Urban,Married,65,7.000000,68,0.000000,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,Rural,Married,201,11.000000,63,0.000000,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,Urban,Divorced,158,0.000000,27,4.000000,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,Suburban,Single,101,31.000000,1,0.000000,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [72]:
mkt = mkt.drop(columns=['unnamed:_0'])

In [73]:
mkt.isnull().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [75]:
mkt = mkt.drop_duplicates(keep='first')

In [80]:
mkt[mkt.duplicated(subset='customer')].head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
334,AV76907,California,4282.947971,No,Basic,College,2011-02-26,Employed,F,40864,Rural,Married,109,16.000000,70,1.000000,1,Personal Auto,Personal L3,Offer1,Agent,166.937747,SUV,Medsize,A,2
441,FV22585,Oregon,6960.920371,No,Extended,College,2011-02-04,Employed,M,74487,Rural,Divorced,88,8.000000,86,0.000000,3,Personal Auto,Personal L1,Offer1,Call Center,16.711329,Four-Door Car,Medsize,A,2
554,AU23837,Oregon,5010.379310,No,Basic,Bachelor,2011-01-19,Employed,F,64014,Urban,Single,63,26.000000,27,0.000000,7,Corporate Auto,Corporate L3,Offer1,Agent,295.871784,Four-Door Car,Medsize,A,1
598,OW33876,Washington,2476.480866,No,Basic,College,2011-02-14,Employed,F,47918,Urban,Married,62,15.149071,51,0.384256,1,Corporate Auto,Corporate L3,Offer2,Call Center,246.256648,Two-Door Car,Medsize,A,2
686,NQ71171,California,5107.071054,No,Basic,Bachelor,2011-02-02,Employed,M,70174,Rural,Married,64,18.000000,80,0.000000,7,Personal Auto,Personal L2,Offer1,Agent,128.900320,Four-Door Car,Medsize,A,2

In [81]:
mkt_duplicates = mkt[mkt.duplicated(subset='customer', keep=False)]

mkt_duplicates_sorted = mkt_duplicates.sort_values(by='customer')

mkt_duplicates_sorted.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
10376,AA10041,California,7901.744238,No,Basic,High School or Below,2011-02-02,Unemployed,M,0,Suburban,Single,113,35.000000,83,0.000000,5,Personal Auto,Personal L3,Offer1,Call Center,1258.327804,Four-Door Car,Medsize,A,2
3960,AA10041,California,7901.744238,No,Basic,High School or Below,2011-02-02,Unemployed,M,0,Suburban,Single,113,35.000000,83,0.000000,5,Personal Auto,Personal L3,Offer1,Call Center,1258.327804,SUV,Medsize,A,2
432,AA11235,Nevada,2568.843396,No,Basic,Bachelor,2011-01-28,Medical Leave,F,11167,Suburban,Married,73,15.149071,99,0.384256,1,Personal Auto,Personal L3,Offer2,Branch,350.400000,Two-Door Car,Medsize,A,1
6044,AA11235,Nevada,2568.843396,No,Basic,Bachelor,2011-01-28,Medical Leave,F,11167,Suburban,Married,73,0.000000,99,3.000000,1,Personal Auto,Personal L3,Offer2,Branch,350.400000,Two-Door Car,Medsize,A,1
10422,AA56476,Arizona,5595.389905,Yes,Basic,High School or Below,2011-02-05,Employed,F,74454,Suburban,Single,71,15.149071,29,0.384256,3,Corporate Auto,Corporate L2,Offer2,Call Center,340.800000,Four-Door Car,Medsize,A,2

In [82]:
mkt_duplicates_sorted.shape

(2545, 26)

In [79]:
mkt.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type', 'month'],
      dtype='object')

In [83]:
mkt['gender'].unique()

array(['M', 'F'], dtype=object)

In [84]:
mkt['state'].unique()

array(['Arizona', 'California', 'Washington', 'Oregon', 'Nevada'],
      dtype=object)

In [85]:
mkt['response'].unique()

array(['No', 'Yes'], dtype=object)

In [86]:
mkt['coverage'].unique()

array(['Basic', 'Extended', 'Premium'], dtype=object)

In [87]:
mkt['education'].unique()

array(['College', 'Bachelor', 'High School or Below', 'Doctor', 'Master'],
      dtype=object)

In [88]:
mkt['effective_to_date'].unique()

array(['2011-02-18', '2011-01-18', '2011-02-10', '2011-01-11',
       '2011-01-17', '2011-02-14', '2011-02-24', '2011-01-19',
       '2011-01-04', '2011-01-02', '2011-02-07', '2011-01-31',
       '2011-01-26', '2011-02-28', '2011-01-16', '2011-02-26',
       '2011-02-23', '2011-01-15', '2011-02-02', '2011-02-15',
       '2011-01-24', '2011-02-21', '2011-02-22', '2011-01-07',
       '2011-01-28', '2011-02-08', '2011-02-12', '2011-02-20',
       '2011-01-05', '2011-02-19', '2011-01-03', '2011-02-03',
       '2011-01-22', '2011-01-23', '2011-02-05', '2011-02-13',
       '2011-01-25', '2011-02-16', '2011-02-01', '2011-01-27',
       '2011-01-12', '2011-01-20', '2011-02-06', '2011-02-11',
       '2011-01-21', '2011-01-29', '2011-01-09', '2011-02-09',
       '2011-02-27', '2011-01-01', '2011-02-17', '2011-02-25',
       '2011-01-13', '2011-01-06', '2011-02-04', '2011-01-14',
       '2011-01-10', '2011-01-08', '2011-01-30'], dtype=object)

In [89]:
mkt['employmentstatus'].unique()

array(['Employed', 'Unemployed', 'Medical Leave', 'Disabled', 'Retired'],
      dtype=object)

In [90]:
mkt['location_code'].unique()

array(['Suburban', 'Urban', 'Rural'], dtype=object)

In [91]:
mkt['marital_status'].unique()

array(['Married', 'Single', 'Divorced'], dtype=object)

In [92]:
mkt['monthly_premium_auto'].unique()

array([ 61,  64, 100,  97, 117,  63, 154,  85, 127,  62,  99,  69, 116,
       114,  66,  73,  94, 104, 189,  74, 121, 110, 111,  72, 115, 159,
       101,  65,  82,  71, 126,  68, 199,  96,  67, 125, 249, 105,  92,
        78,  77,  79, 223, 242,  70, 102, 109, 107, 119, 194, 113, 106,
       247,  80,  86,  81,  83, 122, 253, 196, 132, 139,  84, 130,  93,
       103, 112, 222, 118,  88, 182, 283,  90, 128,  89, 235, 190,  76,
        87, 133, 153, 129,  98, 148, 123,  91, 211, 131, 108, 187, 214,
       181, 173, 252,  95, 124, 137, 145, 188, 143, 198, 138, 245, 195,
       186, 170, 136, 161, 157, 141, 205, 271, 192, 142, 140, 134, 240,
       185, 244, 210, 184, 202, 296, 213, 273, 219, 135, 169, 155, 225,
       266, 215, 197, 256, 212, 158, 180, 166, 168, 183, 162, 191, 179,
       150, 146, 276, 165, 239, 237, 193, 229, 274, 207, 295, 208, 172,
       217, 206, 201, 171, 152, 156, 174, 238, 167, 151, 144, 163, 287,
       209, 290, 220, 228, 232, 178, 177, 275, 176, 281, 149, 298, 255,
       216, 285, 226, 160, 147, 254, 164, 175, 297, 234, 284, 204, 218,
       261, 231, 248, 286, 230, 268, 203])

In [93]:
mkt['number_of_open_complaints'].unique()

array([0.        , 0.38425611, 3.        , 1.        , 2.        ,
       4.        , 5.        ])

In [110]:
mkt[mkt['number_of_open_complaints'] == 0.384256]

Empty DataFrame
Columns: [customer, state, customer_lifetime_value, response, coverage, education, effective_to_date, employmentstatus, gender, income, location_code, marital_status, monthly_premium_auto, months_since_last_claim, months_since_policy_inception, number_of_open_complaints, number_of_policies, policy_type, policy, renew_offer_type, sales_channel, total_claim_amount, vehicle_class, vehicle_size, vehicle_type, month]
Index: []

In [107]:
mkt['number_of_open_complaints'].dtype

dtype('float64')

In [94]:
mkt['number_of_policies'].unique()

array([9, 1, 2, 7, 4, 3, 6, 8, 5])

In [95]:
mkt['policy_type'].unique()

array(['Corporate Auto', 'Personal Auto', 'Special Auto'], dtype=object)

In [96]:
mkt['vehicle_class'].unique()

array(['Four-Door Car', 'SUV', 'Two-Door Car', 'Sports Car', 'Luxury Car',
       'Luxury SUV'], dtype=object)

In [97]:
mkt['vehicle_size'].unique()

array(['Medsize', 'Small', 'Large'], dtype=object)

In [98]:
mkt['vehicle_type'].unique()

array(['A'], dtype=object)

In [99]:
mkt['month'].unique()

array([2, 1])

In [100]:
mkt['policy'].unique()

array(['Corporate L3', 'Personal L3', 'Personal L2', 'Corporate L2',
       'Personal L1', 'Special L1', 'Corporate L1', 'Special L3',
       'Special L2'], dtype=object)

In [101]:
mkt['renew_offer_type'].unique()

array(['Offer3', 'Offer4', 'Offer2', 'Offer1'], dtype=object)

In [102]:
mkt['sales_channel'].unique()

array(['Agent', 'Call Center', 'Branch', 'Web'], dtype=object)

In [103]:
mkt['total_claim_amount'].unique()

array([292.8     , 744.924331, 480.      , ..., 273.018929, 381.306996,
       618.288849])

In [112]:
customer_vehicle_count = mkt.groupby('customer')['vehicle_class'].nunique()

customers_with_multiple_vehicles = customer_vehicle_count[customer_vehicle_count > 1]

df_customers_with_multiple_vehicles = mkt[mkt['customer'].isin(customers_with_multiple_vehicles.index)]
df_customers_with_multiple_vehicles.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
15,CW49887,California,4626.801093,Yes,Basic,Master,2011-01-16,Employed,F,79487,Suburban,Divorced,114,20.000000,87,0.000000,1,Special Auto,Special L1,Offer2,Branch,547.2,SUV,Medsize,A,1
74,LD75023,Oregon,26346.085820,No,Extended,High School or Below,2011-01-20,Employed,M,48268,Suburban,Divorced,223,28.000000,26,0.000000,2,Personal Auto,Personal L2,Offer1,Web,1605.6,Luxury SUV,Medsize,A,1
87,ZH92587,Oregon,8126.766397,No,Basic,College,2011-02-22,Disabled,F,14616,Suburban,Married,107,15.149071,73,0.384256,3,Personal Auto,Personal L3,Offer1,Agent,513.6,Four-Door Car,Medsize,A,2
88,CJ51511,Arizona,13466.920710,Yes,Basic,High School or Below,2011-02-23,Disabled,F,11432,Suburban,Married,119,15.149071,9,0.384256,2,Corporate Auto,Corporate L3,Offer2,Agent,571.2,Four-Door Car,Medsize,A,2
156,MW48891,Washington,8007.399376,Yes,Basic,High School or Below,2011-01-02,Unemployed,F,0,Suburban,Divorced,112,12.000000,93,0.000000,3,Personal Auto,Personal L3,Offer1,Web,537.6,Sports Car,Medsize,A,1

In [118]:
mkt.shape

(10467, 26)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [123]:
revenue_by_channel = mkt.pivot_table(index='sales_channel', values='monthly_premium_auto', aggfunc='sum')
revenue_by_channel = revenue_by_channel.round(2)
revenue_by_channel

               monthly_premium_auto
sales_channel
Agent                        372722
Branch                       271533
Call Center                  189792
Web                          144447

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [124]:
avg_clv = mkt.pivot_table(index='gender', columns='education', values=['customer_lifetime_value'], aggfunc='mean')
avg_clv

          customer_lifetime_value                            \
education                Bachelor      College       Doctor
gender
F                     7913.452862  7755.029922  7369.591923
M                     7713.303475  8086.291367  7414.859039


education High School or Below       Master
gender
F                  8616.664839  8226.362324
M                  8162.364059  8154.605652

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

In [122]:
mkt.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type', 'month'],
      dtype='object')

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [128]:
complaints_summary = mkt.groupby(['month', 'policy_type'])['number_of_open_complaints'].sum().reset_index()

In [129]:
complaints_summary

   month     policy_type  number_of_open_complaints
0      1  Corporate Auto                 419.282184
1      1   Personal Auto                1671.378904
2      1    Special Auto                  83.689793
3      2  Corporate Auto                 369.671110
4      2   Personal Auto                1398.841880
5      2    Special Auto                  85.842561